<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Servicerest</title>
=======
    <title>Practicarest</title>
>>>>>>> e726aa3161ce6e066dfcacd5328d2a5029866644
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
